@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,300;0,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap"); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    max-width: 730px;
    font-weight: 900px;
    line-height: 1.25;
    color: darkred;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.14px;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 2px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
}

.gold {
    color: darkred;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 1px;
}


/*
    NAVIGATION BAR
*/

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.nav {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}

.movies__nav {
    height: 326px;
    padding: 0px 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
}

.nav__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 2;
}

.movies__nav--wrapper {
    margin: -20px 0 0;
}

.logo {
    height: 80px;
    width: 150px;  
}

.movies__logo {
    border-radius: 25%;
    border: 10px double darkred;
    height: 60px;
    width: 120px;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 430px;
}

.nav__link {
    position: relative;
    text-decoration: none;
    transition: all 300ms ease;
}

.home{
    color: darkred;
}
.find {
    color: goldenrod;
    -webkit-text-stroke-color: darkred;
    -webkit-text-stroke-width: 1px;
}

.nav__link::after{
    background-color: goldenrod;
    transition: all 250ms;
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2;
    cursor: pointer;
}

.nav__link:hover::after{
    width: 100%;
    left: 0;
}

.home::after{
    background-color: darkred;
}


.nav__menu {
    position: relative;
    display: none;
}

.nav__menu--displayed {
    width: 50px;
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 1px;
    cursor: pointer;
}

.fa-circle {
    color: darkred;
    font-size: 10px;
    width: 0.1px;
    height: 0.1px;
    border-radius: 50%;
    padding: 1px;
    border: 4px solid goldenrod;
    letter-spacing: 0.14px;
    line-height: 20px;
}

.nav__overlay {
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/95/67/film-strip-lines-wallpaper-old-movie-vector-41449567.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 10px solid rgb(136, 9, 9);
}

.nav__overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 62, 6, 0.83);
}

/*
    LANDING PAGE
*/

#landing__page {
    max-height: none;
    max-width: 100vw;
    padding: 10px 20px 0 20px; 
    overflow: hidden;
    display: flex;
    flex: 1;
}

.landing__page--container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


.website__description--container {
    z-index: 10;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies__website__description--container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
}

.movies__text {
    color: white;
    -webkit-text-stroke-color: black;
    margin-bottom: 40px;
}
.movies__title-page {
    font-weight: 500;
    line-height-step: 2px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4.5px;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
}

.descripion__title .description__subtitle .search__wrapper{
    animation-duration: 1500ms;
    transition-duration: 1500ms;
    animation-delay: 300ms;
    transition-delay: 300ms;
    width: 100%;
}

.search__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.movies__search__wrapper{
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    /* overflow: hidden; */
}


.search {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}

.movies__search {
    background-color: #fff;
    color: #0a1f44;
    display: inline-block;
    height: 60px;
    line-height: 40px;
    border: 5px double darkred;
    padding: 0 15px;
    transition: border-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    max-width: 800px;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}


.movies__search:focus{
    color: white;
    background-color: black;
    border: 5px solid yellow;
}

.movies__mag__glass {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    font-size: 32px;
    transform: all 200ms ease;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.movies__mag__glass:hover{
    color: darkred;
}


.search:focus {
    box-shadow: 0 0 0 1px goldenrod;
}

button {
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    border: 3px solid goldenrod;
    transition: all 300ms ease;
    background-color: darkred;
    box-shadow: 7px 7px 17px rgba(134, 93, 204, .3);
    cursor: pointer;
}

button:hover {
    background-color: #ff328f;
    border: 1px solid #ff328f;
}

button:active {
    transform: scale(0.95);
}


button:focus{
    outline: none;
    background-color: #0a1f44;
    border-color: #0a1f44;
    box-shadow: none;
}

button:focus .mag__glass {
    display: none;
}

button:focus .spinner__overlay {
    display: block;
}

button .loading:active{
    transform: scale(1);
}

button .loading:hover {
    background-color: #000;
}


button .loading {
    cursor: no-drop;
}


.spinner__overlay {
    display: none;
    animation: spinner 750ms infinite linear;
}

/* .spinner__overlay .loading:active {
    display: block;
} */





@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* .spinner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.spinner__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}
.spinner__overlay--visible {
    z-index: 1;
    display: flex;
} */





.landing__page--logo {
    max-width: max-content;
    height: 50vh;
    bottom: 80px;
    display: flex;
    vertical-align: middle;
}


/*
    SEARCH RESULTS
*/

#search {
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.progress__bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px; 
    height: 10px;
    overflow: hidden;
    transform: translate(0,1);
    transform-origin: center center;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.4s cubic-bezier(.4,0,.2,1);
    will-change: opacity, transform;
    background-color: rgba(247, 204, 11, 0.38);
}

.progress__bar--track {
    left: -50%;
    animation: b 2s liner infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    transform-origin: top left;
}
@keyframes b {
    0% {
        transform: translateX(0)
    }

    20% {
        animation-timing-function: cubic-bezier(.5,0,.7,.5);
        transform: translateX(0)
    }

    60% {
        animation-timing-function: cubic-bezier(.3,.38,.55,.96);
        transform: translateX(83.67%)
    }

    to {
        transform: translateX(200.61%)
    }
}
.progress__bar--track::after{
    background-color: darkgoldenrod;
    animation: c 2s linear infinite;
    display: inline;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
}
@keyframes c {
    0% {
        transform: scaleX(.08)
    }

    35% {
        animation-timing-function: cubic-bezier(.33,.12,.79,1);
        transform: scaleX(.08)
    }

    70% {
        animation-timing-function: cubic-bezier(.06,.11,.6,1);
        transform: scaleX(.66)
    }

    to {
        transform: scaleX(.08)
    }
}
.progress__bar--fill {
    left: -55%;
    animation: d 2s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    transform-origin: top left;
}
@keyframes d {
    0% {
        animation-timing-function: cubic-bezier(.15,0,.52,.41);
        transform: translateX(0)
    }

    25% {
        animation-timing-function: cubic-bezier(.31,.28,.8,.73);
        transform: translateX(37.65%)
    }

    50% {
        animation-timing-function: cubic-bezier(.4,.63,.6,.9);
        transform: translateX(84.39%)
    }

    to {
        transform: translateX(160.28%)
    }
}


.progress__bar--fill::after{
    background-color: darkgoldenrod;
    animation: e 2s linear infinite;
    display: inline-block;
    position: absolute;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    will-change: transform
    ;
}
@keyframes e {
    0% {
        animation-timing-function: cubic-bezier(.15,0,.52,.41);
        transform: scaleX(.08)
    }

    20% {
        animation-timing-function: cubic-bezier(.31,.28,.8,.73);
        transform: scaleX(.46)
    }

    45% {
        animation-timing-function: cubic-bezier(.4,.63,.6,.9);
        transform: scaleX(.73)
    }

    to {
        transform: scaleX(.08)
    }
}

.progress__bar--buffer {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    transform-origin: top left;
}

.progress__bar--buffer::after {
    display: inline-block;
    position: absolute;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    will-change: transform;
}

.search__results--wrapper {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.search__info{
    color: darkred;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 1px;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.25;
    display: inline-block;
}

.year__filter {
    width: 30%;
    min-width: 335;
    display: flex;
    flex-direction: column;
}

.date__range--wrapper {
    margin-bottom: 12px;
    font-size: 20px;
}

.date__range{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.14px;
}
.margin__right {
    margin-right: 8px;
    color: darkred;
}

.line__slider--wrapper {

}

.slider::before{
    display: table;
    content: "";
}

.slider__runaway {
    width: 100%;
    height: 6px;
    margin: 16px 0;
    background-color: #e4e7ed;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.slider__runaway::after{
    clear: both;
    display: table;
    content: "";
}

.slider__bar {
    width: 100%;
    left: 0%;
    height: 6px;
    background-color: purple;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
}

.slider__button--wrapper {
    left: 0%;
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 1001;
    top: -15px;
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    line-height: normal;
}
.slider__button--wrapper:hover{
    cursor: -webkit-grab;
    cursor: grab;
}

.slider__button {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 2px solid purple;
    background-color: #fff;
    border-radius: 50%;
    transition: .2s;
    user-select: none;
}

.slider__button:hover {
    outline-width: 0;
    cursor: grab;
    transform: scale(1.2);  
}

.slider__button::after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.slider__marks1--stop {
    left: 0%;
    display: none;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: #fff;
    transform: translateX(-50%);
}

.slider__marks2--stop {
    left: 100%;
    display: none;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: #fff;
    transform: translateX(-50%);
}

.slider__marks {
    top: 0;
    left: 12px;
    width: 18px;
    height: 100%;
}

.slider__marks--text--left {
    left: 0%;
    position: absolute;
    transform: translateX(-50%);
    font-size: 14px;
    color: #909399;
    margin-top: 15px;
}
.slider__marks--text--right {
    left: 0%;
    position: absolute;
    transform: translateX(-50%);
    font-size: 14px;
    color: #909399;
    margin-top: 15px;
}


@media (max-height:1200px) {
    nav {
        height: 165px;
    }
    #landing__page {
        max-height: calc((100vh - 165px));
    }
    .landing__page--logo {
        bottom: 80px;
    }
    h1 {
        font-size: 57px;
    }
    h2 {
        margin-bottom: 80px;
    }
}

@media (max-width: 750px) {
    .nav__menu {
        display: block;
    }
    .nav__links {
        display: none;
    }
}